<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFileLoaderService" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://server-db.vnp2.main:8080/FileLoaderService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileLoaderService" contract="FileLoaderServiceReference.IFileLoaderService" name="BasicHttpBinding_IFileLoaderService" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
